@use "../../../scss/style.scss";
@use "../../../scss/utils/functions" as fn;

.about-bg {
  background-image: url(../../../assets/TERRACE.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  height: auto;
  min-height: fn.rem(300);
  background-position: center;
}

@media (width > 700px) {
  .about-bg {
    min-height: fn.rem(448);
    height: auto;
  }
}
