@use '../../../../scss/style.scss';
@use '../../../../scss/global/colors' as color;
@use '../../../../scss/utils/mixins' as mixins;
@use '../../../../scss/utils/functions' as fn;

.section-body{
  background-color: color.$red-300;
  background-image: url('../../../../assets/naked-wire.png'), url('../../../../assets/riple-effect.png');
  background-repeat: no-repeat;
  background-position: 0% 10%, right top;
  .responsive{
    @include mixins.responsive;

    @media(width > 1024px){
      .img-box{
        max-width: fn.rem(361);
        height: fn.rem(327);
        margin: auto;
      }
    }
  }

}