// VARIABLES

//red shades type
$red-100: #f2edeb;
$red-200: #f2edeb;
$red-300: #f2edeb;
$red-400: #fe0000;
$red-500: #4a0707d6;

//black shades type
$black-100: #808080;
$black-200: #727272;
$black-300: #26282e;
$black-400: #26282e;
$black-500: #000000;
$black-600: rgba(0, 0, 0, 0.15);
$black-700: rgba(0, 0, 0, 0.5);
$black-800: #ebebeb;

//white shades type
$white-100: #ffffff; //white
$white-200: #ffffff;
$white-300: #ffffff;
$white-400: #ffffff;
$white-500: #ffffff; //grey /gray
